@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url(/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46);
}

@font-face {
  font-family: "Roboto Bold";
  font-weight: bold;
  src: url(/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6);
}

@font-face {
  font-family: "Roboto Italic";
  font-weight: normal;
  font-style: italic;
  src: url(/fonts/Roboto-Italic.ttf?a720f17aa773e493a7ebf8b08459e66c);
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: normal;
  src: url(/fonts/SourceSansPro-Regular.ttf?c1678b46f7dd3f50ceac94ed4e0ad01a);
}

@font-face {
  font-family: "Source Sans Pro Bold";
  font-weight: bold;
  src: url(/fonts/SourceSansPro-Bold.ttf?8669b8706bbbdd1482e2fccc4ed96850);
}

@font-face {
  font-family: "Source Sans Pro Italic";
  font-weight: normal;
  font-style: italic;
  src: url(/fonts/SourceSansPro-Italic.ttf?3d7cb86547ce5075625915f2e86d0687);
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 1em;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
}

